*{
  padding: 0;
  margin: 0;
  list-style: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App{
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: black;
}

.containerLateral{
  /* background-color: rgb(18, 18, 18); */
  background-color: black;
  width: 22vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudoLateral{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 15vw;
  height: 85vh;
  background-color: rgb(26, 26, 26);
  /* border: solid 2px rgb(53, 53, 53); */
  border-radius: 15px;
}

.logo{
  height: auto;
  width: 15rem;
}

.logomarca{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.menuLateral{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.menuLateral li{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  align-items: center;
}

.btn-primary{
  margin-top: 2rem;
  padding: 10px;
  background-color: #295bff;
  border: solid 1px #295bff;
  border-radius: 10px;
  width: 18rem;
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 550;
  letter-spacing: 1px;
  font-family: "Concert One", sans-serif;
  box-shadow: 0 0 20px rgba(3, 128, 212, 0.8);
}

.btn-primary:hover{
  cursor: pointer;
  transition: 0.9s;
  background-color: #3e29ff;
  border: solid 1px #3e29ff;
  box-shadow: 0 0 20px #3e29ff;
}

.hr{
  margin: 2rem 0;
  border: solid 1px rgb(92, 92, 92);
}

.Stories{
  background-color: rgb(32, 33, 33);
  width: 45vw;
  height: 20vh;
}

.Postagens{
  background-color: rgb(17, 17, 17);
  width: 45vw;
  height: 10vh;
}